[Desktop Entry]
Name=Cryptomator
Comment=Cryptomator
Exec=/opt/Cryptomator/Cryptomator
Icon=/opt/Cryptomator/Cryptomator.png
Terminal=false
Type=Application
Categories=Utility
MimeType=application/x-vnd.cryptomator-vault-metadata